page-home {
    .img{
        background-color:plum;
       }

button{
    height:5000px; 
    width:100px; 
    margin: -20px -50px; 
    position:center;
    top:50%; 
border-radius: 100%;
    
}
img{
    border-radius:100%;
}
.t1{
    background-color: darkorchid;
}
.p{
    background-color: rgb(218, 197, 223);
    color:deeppink;
}
}